{% extends 'bootstrap.html' %}

{% block content %}
<br/>
<br/>

<div class="row">
    <h1 class="page-header">{{ url.fqdn }} <small>{{ url.queriedAt }}</small></h1>
    <div class="col-md-10 col-md-offset-1">
        <dl class="dl-horizontal">
            <dt>fqdn</dt><dd>{{ url.fqdn }}</dd>
            <dt>URL</dt><dd>{{ url.url }}</dd>
        </dl>
    </div>
</div>

<h1 class="page-header">DNS Comparison</h1>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th/>
                    <th>A</th>
                    <th>AAAA</th>
                    <th>NS</th>
                    <th>CNAME</th>
                </tr>
            </thead>
            <tbody>
            {% for dnsRecord in url.dnsRecords.all %}
                <tr>
                    <th>{{ dnsRecord.source }}</th>
                    <td>{{ dnsRecord.formattedA|linebreaksbr }}</td>
                    <td>{{ dnsRecord.formattedAAAA|linebreaksbr }}</td>
                    <td>{{ dnsRecord.formattedNS|linebreaksbr }}</td>
                    <td>{{ dnsRecord.formattedCNAME|linebreaksbr }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<h1 class="page-header">DNS Details</h1>

{% for dnsRecord in url.dnsRecords.all %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ dnsRecord.source }}</h2>
            </div>
            <div class="panel-body">
                <pre>{{ dnsRecord.formatted }}</pre>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<h1 class="page-header">ASN Details</h1>

{% for asnRecord in url.asns.all %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">ASN <small>based on {{ asnRecord.ip }}</small></h2>
            </div>
            <div class="panel-body">
                <pre>{{ asnRecord.formatted }}</pre>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}