{% extends 'bootstrap.html' %}
{% load humanize %}
{% block content %}
<br/>
<br/>
{% include 'partials/search.html' %}

{% for match in matches %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3><a href="{% url 'fqdn-details' match.fqdn %}">{{ match.fqdn }}</a> <small>{{ match.queriedAt|naturaltime }}</small></h3>
        <p>Resolved {{ queryCount }} times</p>
        <p><a href="{% url 'lookup-start' query.queryBase64 %}"><span class="glyphicon glyphicon-plus"></span> Run a new lookup for <em>{{ query.fqdn }}</em></a> | <a href="{% url 'lookup-details' match.uuid %}">Open most recent lookup</a></p>
        <hr/>
    </div>
</div>
{% endfor %}

{% endblock %}