<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="/search" method="POST" class="form">
            <div class="form-group">
                <div class="input-group">
                    {% csrf_token %}
                    <input type="search" id="query" name="query" class="form-control" placeholder="example.com"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">Resolve</button>
                    </span>
                </div>
            </div>
        </form>

    </div>
</div>